<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- HEADER DE LA APLICACION -->
    <app-header></app-header>

    <!-- SIDEBAR DE LA APLICACION -->
    <app-sidebar></app-sidebar>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle - DETALLE DE ENALCES DE NAVEGACION DE AL PAGINA -->
            <!-- ============================================================== -->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->


            <!-- ============================================================== -->
            <!-- CONTENIDO DE LA PAGINA -->
            <!-- ============================================================== -->

            <router-outlet></router-outlet>

            <!-- <div class="row">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body">
                          INICIO DE CONFIGURACION DE LA APLICACION DE ADMIN PRO EN ANGULAR 5.
                      </div>
                  </div>
              </div>
          </div> -->
            <!-- ============================================================== -->
            <!-- FIN CONTENIDO DE LA PAGINA -->
            <!-- ============================================================== -->


        </div>
        <!-- ============================================================== -->
        <!-- END Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- END Page wrapper  -->
    <!-- ============================================================== -->

</div>